/* ---------- Body y Elementos agrupados ---------- */

body {
    background-color: rgba(248, 244, 227);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

h1, p, section, a, span, footer, .presentacion__contenido__listado, .presentacion__foto_principal__caption {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(112, 141, 129);
    margin: 2vh 0;
    font-size: 40px;
}

/* ---------- Elementos únicos ---------- */

h1 {
    text-align: center;
    color: rgb(178, 65, 99);
}

p {
    text-align: center;
    margin: 30px;
    font-size: 0.5em;
}

strong {
    color: rgb(185, 211, 130);
}

span {
    text-decoration: underline;
    text-decoration-color: rgba(128, 128, 128, 0.582);
    text-decoration-style: dotted;
    color: rgb(185, 211, 130);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
li {
    list-style: none;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 0.5em;
}

img {
    border-radius: 100%;
    width: 20vw;
    height: 20vw;
    outline: 2px solid #00000052;
    outline-offset: 3px;
}

footer {
    color: rgb(47, 37, 4);
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

/* ---------- Clases ---------- */

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.presentacion__contenido__listado {
    text-align: center;
}

.presentacion__contenido__talk {
    display: flex;
    color: rgb(112, 141, 129);
    justify-content: center;
    margin-top: 60px;
    text-decoration: none;
    font-size: 0.5em;
}


.presentacion__foto_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.presentacion__foto_principal__caption {
    text-align: center;
    font-size: 0.9em;
    margin: 1em;
}

.enlaces {
    width: 120px;
    font-size: 1.2rem;
    background-color:rgba(219, 254, 184);
    justify-content: space-evenly;
    padding: 5px 50px;
    border-radius: 16px;
    text-decoration: none;
}

/* ---------- Interacciones ---------- */

li::marker {
    margin-right: 0;
    font-size: 1em;
    color: rgb(112, 141, 129);
}

a:visited {
    color:rgb(122, 145, 141);
}

a:hover {
    color: rgba(112, 141, 129, 0.329);
}