body {
    background-color: rgba(248, 244, 227);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

h1, p, strong, a, .presentacion__listado {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(112, 141, 129);
    margin: 2vh 0;
}

h1 {
    text-align: center;
    color: rgb(178, 65, 99);
}

strong {
    color: rgb(185, 211, 130);
}

span {
    text-decoration: underline;
    text-decoration-color: rgba(128, 128, 128, 0.582);
    text-decoration-style: dotted;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    display: block;
    list-style-position: outside;
    padding-left: 40%;
    padding-right: 40%;
    margin: 0;
}

li {
    display: list-item;
    align-items: center;
    margin: 5px 0px;
    padding-left: 0;
    padding-right: 0%;
    line-height: 1.5;
}

.presentacion__listado {
    text-align: center;
}

p {
    text-align: center;
}

img {
    border-radius: 100%;
    width: 33vw;
    height: 33vw;
}

a {
    color: rgb(47, 37, 4);
}

li::marker {
    margin-right: 0;
    font-size: 1em;
    color: rgb(112, 141, 129);
}

a:visited {
    color:rgb(47, 62, 4);
}

a:hover {
    color: rgb(112, 141, 129);
}

.foto_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

footer {
    text-align: center;
}