:root {
    --font-uno: "Roboto", Arial, Helvetica, sans-serif;
}

/* ---------- Body y Elementos agrupados ---------- */

body {
    background-color: rgba(248, 244, 227);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

h1, p, section, span, footer, .presentacion__contenido__listado, .presentacion__foto_principal__caption {
    font-family: var(--font-uno);
    color: rgb(112, 141, 129);
    margin: 2vh 0;
    font-size: 40px;
}

/* ---------- Elementos únicos ---------- */

h1 {
    text-align: center;
    color: rgb(178, 65, 99);
}

p {
    text-align: center;
    margin: 30px;
    font-size: 0.5em;
}

strong {
    color: rgb(185, 211, 130);
}

span {
    text-decoration: underline;
    text-decoration-color: rgba(128, 128, 128, 0.582);
    text-decoration-style: dotted;
    color: rgb(185, 211, 130);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
li {
    list-style: none;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 0.5em;
}

img {
    border-radius: 100%;
    width: 440px;
    height: 440px;
    outline: 2px solid #00000052;
    outline-offset: 3px;
}

footer {
    color: rgb(47, 37, 4);
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

/* ---------- Clases ---------- */

.header {
    padding: 2% 0% 0% 7%;
    font-size: 1em;
    font-family: var(--font-uno);
    display: flex;
    flex-direction: row;
}

.header__nav>a {
    text-decoration: none;
    padding-left: 3vw;
}

.flex_row {
    display: flex;
    justify-content:center;
    flex-direction: column;
    white-space: wrap;
    gap: 20px;
}

.flex_column {
    display: flex;
    justify-content: center;
}

.presentacion__contenido {
    width: 65%;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.presentacion__contenido__listado {
    text-align: center;
}

.presentacion__contenido__talk {
    display: flex;
    color: rgb(112, 141, 129);
    justify-content: center;
    margin-top: 60px;
    text-decoration: none;
    font-size: 0.5em;
}

.presentacion__foto_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding-top: 2vh;
}

.presentacion__foto_principal__caption {
    width: 40%;
    text-align: center;
    font-size: 0.9rem;
    margin: 1em;
}

.presentacion__contenido__cuadro {
    max-width: 80%;
    border-radius: 3%;
    border: 2px solid #00000052;
}

.enlaces {
    width: 120px;
    font-size: 1.2rem;
    background-color:rgba(219, 254, 184);
    text-align: center;
    padding: 5px 50px;
    border-radius: 16px;
    text-decoration: none;
    font-family: var(--font-uno);
}

.enlaces_div {
    display: flex;
    justify-content:space-evenly;
    flex-flow: row wrap;
    margin-top: 5vh;
}

/* ---------- Interacciones ---------- */

li::marker {
    margin-right: 0;
    font-size: 1em;
    color: rgb(112, 141, 129);
}

a:visited {
    color:rgb(122, 145, 141);
}

a:hover {
    color: rgba(112, 141, 129, 0.329);
}

/* ---------- Media Queries ---------- */

@media (max-width:1450px) {
    .flex_column {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .presentacion__contenido {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .flex_row {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 784px) {
    .flex_row {
        width: 80%;
        white-space: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .presentacion__contenido {
        display: flex;
        justify-content: space-around;
        white-space: nowrap;
    }

    .presentacion__foto_principal {
        height: 50vh;
    }
}

@media (max-width: 488px) {
    img {
        width: 18em;
        height: 20em;
    }

    .presentacion__foto_principal {
        display: flex;
        width: 100%;
        height: 300px;
    }

    .enlaces_div {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header {
        padding-top: 4%;
    }

    .header__nav>a {
        padding-left: 5vw;
    }
}